<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FameBot._RealmQuests" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="FameBot._001" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="FameBot.001" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="FameBot.DiscSett" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="FameBot.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FameBot._RealmQuests>
      <setting name="_MinStarsToCluster" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NexusRealmClosedDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IgnoreLich" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreGhostKing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TeleportToSentryHealth" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="IgnoreAvatar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MoveToBlueBags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_ClusterRadius" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="IgnoreEnt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnorePentaract" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreCube" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreSentry" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreStatues" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MoveToBagDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="_ClusterRadiusPentaract" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="TeleportAwayDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TeleportToBag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_ClusterRadiusSentry" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="NexusReskin" serializeAs="String">
        <value>True</value>
      </setting>
    </FameBot._RealmQuests>
    <FameBot._001>
      <setting name="Cluster_MinStars" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RealmClosed_NexusAfter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="QuestTeleportDelay" serializeAs="String">
        <value>69</value>
      </setting>
      <setting name="IgnoreLich" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreGhostKing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SentryLowHealthTP_" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="IgnoreAvatar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MoveToBlueBags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClusterRadius" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="IgnoreEnt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnorePentaract" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreCube" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreSentry" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreStatues" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MoveToBagDelay" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="ClusterRadiusPentaract" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="NexusIfNoValidQuest" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="FarmCrystal" serializeAs="String">
        <value>False</value>
      </setting>
    </FameBot._001>
    <FameBot.001>
      <setting name="___MinStarsToCluster" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="WalkOverWhiteBags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WalkOverOtherBags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="a" serializeAs="String">
        <value/>
      </setting>
    </FameBot.001>
    <FameBot.DiscSett>
      <setting name="___MinStarsToCluster" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="WalkOverWhiteBags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WalkOverOtherBags" serializeAs="String">
        <value>True</value>
      </setting>
    </FameBot.DiscSett>
    <FameBot.Settings1>
      <setting name="test" serializeAs="String">
        <value/>
      </setting>
    </FameBot.Settings1>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
