<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mila.MilaConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mila.MilaConfig>
            <setting name="BlockSpam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogGuildChat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPrivateMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyVialPickup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AntiLag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommandGuard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockChat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlockGuildInvites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlockPrivateMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogChat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpellRandomColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockTradeRequests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyNexusPlayerWave" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NotifyLag" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="zDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResizePlayers" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ReplaceQuestWithSentry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NexusPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RedGlow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerLeftNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GuildNameToServerName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Beg" serializeAs="String">
                <value></value>
            </setting>
            <setting name="BegToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnblockEveryone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyEggBag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyBlueBag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USW2_Sell_Msg" serializeAs="String">
                <value/>
            </setting>
            <setting name="NotifyWhiteBag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUseCloverAndLootDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USW2_Sell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyRealmQuests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlockGuildChat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USW2_Filter_Msg1" serializeAs="String">
                <value>def</value>
            </setting>
            <setting name="USW2_Filter_Msg2" serializeAs="String">
                <value>def</value>
            </setting>
            <setting name="USW2_Filter_Msg3" serializeAs="String">
                <value>def</value>
            </setting>
            <setting name="USW2_Filter_Msg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnlockEveryone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGuildless" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="PopMysteryStatPots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FillMiddleVault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyOrangeBag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyRedBag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StackTokens" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockGuildies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRespondToMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRespondToMessagesMsg" serializeAs="String">
                <value></value>
            </setting>
            <setting name="AutoRespondToMessagesAfter" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="VaultSpawnCloseToVault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HS_Map" serializeAs="String">
                <value>Teeeheee</value>
            </setting>
            <setting name="HS_CharID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HS_Normal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HS_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HS_PrevMap" serializeAs="String">
                <value>Teeeheee</value>
            </setting>
            <setting name="HS_Delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HS_PrevMap2" serializeAs="String">
                <value>Teeeheee</value>
            </setting>
            <setting name="HS_Delayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HS_PrevMap3" serializeAs="String">
                <value>Teeeheee</value>
            </setting>
            <setting name="HS_Map2" serializeAs="String">
                <value>Teeeheee</value>
            </setting>
            <setting name="HS_Map3" serializeAs="String">
                <value>Teeeheee</value>
            </setting>
            <setting name="HS_Map4" serializeAs="String">
                <value>Teeeheee</value>
            </setting>
            <setting name="HS_Map5" serializeAs="String">
                <value>Teeeheee</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Stars" serializeAs="String">
                <value>76</value>
            </setting>
        </Mila.MilaConfig>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
